<div class="jumbotron text-center">
  <h1>Hospital Dashboard</h1>
  <!-- <p class="lead">Get contact & Helpline Info, Notification & Advisory, Hospital Dashboard, Compare cases. </p> -->
  
</div>

<div class="row mt-5">
  <div class="col-md-4 mb-3" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Hospital & Beds</h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" [routerLink]="['/hospitalbeds']">Visit</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-3" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Medical colleges & Beds</h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" [routerLink]="['/medicalcollege']">Visit</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>
</div>