<div class="jumbotron text-center">
  <h1>Corona Track App</h1>
  <p class="lead">Get contact & Helpline Info, Notification & Advisory, Hospital Dashboard, Compare cases. </p>
  
</div>


<div class="row mt-5">
  <div class="col-md-4 mb-3" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Contact Helpline</h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" [routerLink]="['/contact-helpline']">Visit</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Notification Advisory</h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" [routerLink]="['/notification-advisory']">Visit</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>
    <div class="col-md-4 mb-3" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Hospital Dashboard</h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" [routerLink]="['/hospital-dashboard']">Visit</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Compare Cases</h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" [routerLink]="['/compare-cases']">Visit</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>
</div>